swiper-container {
  width: 100%;
  height: 100%;
}

swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

swiper-container {
  width: 100%;
  height: 300px;
  margin: 20px auto;
}

w-vw{
  width: 100vw;
}
.video-background {
  width: 100%;
  height: auto; /* Adjusts height automatically to maintain aspect ratio */
  object-fit: cover; /* Ensures the video covers the container without stretching */
}
