<div class="relative">
  <button
    [id]="bId"
    class="text-gray-900 bg-white hover:bg-[#fffff] focus:outline-none font-medium text-sm px-5 py-2.5 text-center inline-flex items-center dark:bg-black dark:text-white"
    type="button"
    (click)="toggleDropdown()">
    {{buttonName}}
    <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
    </svg>
  </button>

  <!-- Dropdown Menu -->
  <div
    [id]="mId"
    class="absolute z-10 mt-2 bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700"
    [class.hidden]="!dropdowns"
  >
    <ul class="py-2 text-sm text-gray-700 dark:text-gray-200">
      @for (m of menu; track $index) {
        <li class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white" (click)="filter(m)">{{m }}</li>
      }
    </ul>
  </div>
</div>
