<div class="w-9/12 mx-auto py-5">
    <div class="rounded-xl hover:scale-105 group  transition-all duration-200  mb-3" >
      <img [src]="product.imageCover" class="rounded-xl cursor-pointer" [routerLink]="['/product details' , product.id ]" alt="">
      <h6 class="pt-1 px-2">{{product.title| slicename:3}}</h6>

      <div class="flex gap-2 py-2 px-2 justify-between items-center">
        <div> <span> {{product.price| currency : 'EUR'}}</span> </div>
        <div class="flex gap-2">
            <div class="h-3 w-3 rounded-full bg-blue-950"></div>
          <div class="h-3 w-3 rounded-full bg-gray-600"></div>
          <div class="h-3 w-3 rounded-full bg-orange-900"></div>
        </div>

      </div>

      <div class="hidden group-hover:flex justify-end gap-2 cursor-pointer">
        @if (isFromFavorite) {
          <i class="fa-solid fa-cart-plus" (click)="addToCart(product._id)"></i>
          <i class="fa-solid fa-trash-can"  (click)="removeFromFavorite(product._id)"></i>
        }
        @else {
          <i class="fa-solid fa-cart-plus" (click)="addToCart(product._id)"></i>
          <i class="fa-solid fa-heart "[ngClass]="{'text-red-500': isProductInFavorites() , 'text-gray-200' : !isProductInFavorites()}" (click)="isProductInFavorites() ? removeFromFavorite(product._id) : addToFavorite(product._id)"></i>

        }

      </div>

    </div>



</div>



