<div class="w-9/12 mx-auto py-5">

    <!-- <div class="grid lg:grid-cols-3 md:grid-cols-1 gap-x-10 gap-y-5">
      @for (product of productList.slice(26,33); track $index) {
          <div class="rounded-xl hover:scale-105   hover:border-2 hover:border-gray-800 transition-all duration-200 cursor-pointer mb-3">
            <img [src]="product.imageCover" class="rounded-xl" alt="">
            <h6 class="pt-1 px-2">{{product.title | slicename:5}}</h6>

            <div class="flex gap-2 py-2 px-2 justify-between items-center">
              <div> <span> {{product.price | currency : 'EUR'}}</span> </div>
                <div class="flex gap-2">
                    <div class="h-3 w-3 rounded-full bg-blue-950"></div>
                  <div class="h-3 w-3 rounded-full bg-gray-600"></div>
                  <div class="h-3 w-3 rounded-full bg-orange-900"></div>
                </div>
            </div>
          </div>
      }

    </div> -->

    <div class="rounded-xl hover:scale-105  hover:border-2 hover:border-gray-800 transition-all duration-200 cursor-pointer mb-3" [routerLink]="['/product details' , product.id ]">
      <img [src]="product.imageCover" class="rounded-xl" alt="">
      <h6 class="pt-1 px-2">{{product.title| slicename:5}}</h6>

      <div class="flex gap-2 py-2 px-2 justify-between items-center">
        <div> <span> {{product.price| currency : 'EUR'}}</span> </div>
          <div class="flex gap-2">
              <div class="h-3 w-3 rounded-full bg-blue-950"></div>
            <div class="h-3 w-3 rounded-full bg-gray-600"></div>
            <div class="h-3 w-3 rounded-full bg-orange-900"></div>
          </div>
      </div>
    </div>

</div>



