@if (step == 1) {
  <section class="text-lg bg-gray-100 shadow-lg rounded-md p-2  my-5">
    <h1 class="text-red-950 font-bold py-4" >verify Email:</h1>
    <form class=" mx-auto" [formGroup]="emailVerificationForm" (ngSubmit)="verifyEmail()">

      <div class="relative z-0 w-full mb-5 group py-3">
          <input
          type="email" name="floating_email"
          id="floating_email"
          class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-red-900 focus:outline-none focus:ring-0 focus:border-red-900 peer"
          placeholder=" "
          required
          formControlName="email" />
          <label
          for="floating_email"
          class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-red-900 peer-focus:dark:text-red-700 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">
          Email address
          </label>

          @if (emailVerificationForm.get('email')?.errors && (emailVerificationForm.get('email')?.touched || emailVerificationForm.get('email')?.dirty)) {
            <div class="mt-1 text-red-600 hover:text-red-800 text-sm">
                @if (emailVerificationForm.get('email')?.getError('required')) {
                  <p>your Email is required</p>
                }@else if(emailVerificationForm.get('email')?.getError('email')){
                  <p>please enter valid email</p>
                }
            </div>
          }
      </div>


      <button [disabled]="emailVerificationForm.invalid || isLoading" type="submit" class="disabled:bg-gray-500 block ms-auto text-white bg-gray-900 hover:bg-red-950 focus:outline-none focus:ring-[rgba(69 ,10, 10,0.5 )] font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-gray-900 dark:hover:bg-red-900 dark:focus:ring-red-950">
        verify
        @if (isLoading ) {
          <span><i class="fas fa-spin fa-spinner"></i></span>
        }
      </button>


    </form>


  </section>

}


@if(step == 2){
  <section class="text-lg bg-gray-100 shadow-lg rounded-md p-2  my-5">
    <h1 class="text-red-950 font-bold py-4" >Verify Code:</h1>
    <form class=" mx-auto" [formGroup]="codeVerificationForm" (ngSubmit)="verifyCode()">

      <div class="relative z-0 w-full mb-5 group py-3">
          <input
          type="text" name="floating_number"
          id="floating_number"
          class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-red-900 focus:outline-none focus:ring-0 focus:border-red-900 peer"
          placeholder=" "
          required
          formControlName="resetCode" />
          <label
          for="floating_number"
          class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-red-900 peer-focus:dark:text-red-700 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">
          verification code
          </label>

          @if (codeVerificationForm.get('resetCode')?.errors && (codeVerificationForm.get('resetCode')?.touched || codeVerificationForm.get('resetCode')?.dirty)) {
            <div class="mt-1 text-red-600 hover:text-red-800 text-sm">
                @if (codeVerificationForm.get('resetCode')?.getError('required')) {
                  <p>your reset Code is required</p>
                }
            </div>
          }
      </div>


      <button [disabled]="codeVerificationForm.invalid || isLoading" type="submit" class="disabled:bg-gray-500 block ms-auto text-white bg-gray-900 hover:bg-red-950 focus:outline-none focus:ring-[rgba(69 ,10, 10,0.5 )] font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-gray-900 dark:hover:bg-red-900 dark:focus:ring-red-950">
        send
        @if (isLoading ) {
          <span><i class="fas fa-spin fa-spinner"></i></span>
        }
      </button>

    </form>


  </section>
}


@if(step == 3){
  <section class="text-lg bg-gray-100 shadow-lg rounded-md p-2  my-5">
    <h1 class="text-red-950 font-bold py-4" >Verify Code:</h1>
    <form class=" mx-auto" [formGroup]="ResetPasswordForm" (ngSubmit)="changePassword()">

      <div class="relative z-0 w-full mb-5 group py-3">
        <input
        readonly
        type="email" name="floating_email"
        id="floating_email"
        class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-red-900 focus:outline-none focus:ring-0 focus:border-red-900 peer"
        placeholder=" "
        required
        formControlName="email" />
        <label
        for="floating_email"
        class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-red-900 peer-focus:dark:text-red-700 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">
        Email address
        </label>

        @if (emailVerificationForm.get('email')?.errors && (emailVerificationForm.get('email')?.touched || emailVerificationForm.get('email')?.dirty)) {
          <div class="mt-1 text-red-600 hover:text-red-800 text-sm">
              @if (emailVerificationForm.get('email')?.getError('required')) {
                <p>your Email is required</p>
              }@else if(emailVerificationForm.get('email')?.getError('email')){
                <p>please enter valid email</p>
              }
          </div>
        }
    </div>
    <div class="relative z-0 w-full mb-5 group py-3">
      <input
      type="password" name="floating_password"
      id="floating_password"
      class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-red-900 focus:outline-none focus:ring-0 focus:border-red-900 peer"
      placeholder=" "
      required
      formControlName="newPassword" />
      <label
      for="floating_password"
      class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-red-900 peer-focus:dark:text-red-700 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">
      password address
      </label>

      @if (ResetPasswordForm.get('newPassword')?.errors && (ResetPasswordForm.get('newPassword')?.touched || ResetPasswordForm.get('newPassword')?.dirty)) {
        <div class="mt-1 text-red-600 hover:text-red-800 text-sm">
            @if (ResetPasswordForm.get('newPassword')?.getError('required')) {
              <p>your password is required</p>
            }@else if(ResetPasswordForm.get('newPassword')?.getError('pattern')){
              <p>please enter valid email</p>
            }
        </div>
      }
  </div>


  <button [disabled]="ResetPasswordForm.invalid || isLoading" type="submit" class="disabled:bg-gray-500 block ms-auto text-white bg-gray-900 hover:bg-red-950 focus:outline-none focus:ring-[rgba(69 ,10, 10,0.5 )] font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-gray-900 dark:hover:bg-red-900 dark:focus:ring-red-950">
    login
    @if (isLoading ) {
      <span><i class="fas fa-spin fa-spinner"></i></span>
    }
  </button>


    </form>


  </section>
}
